/**Universal**/

html {
    font-size: 16px;
    background-color: #FAF9F6;
    color: #2e3138;
    min-width: 360px;

}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #008080;
    font-family: 'Bungee';
}

h1 {
    font-size: 3.5rem;
    -webkit-text-stroke: 0.1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

p {
    font-family: 'Mulish';
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
}


@media only screen and (max-width: 1500px) {

    main {
        max-width: 85%;

    }
    
}

@media only screen and (max-width: 440px) {
    main {
        max-width: 90%;

    }
    

}

section {
    display: block;
    width: 100%;
}



img {
    width: 100%;
}

/**Header**/

header {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3rem solid #494949;  
}

@media only screen and (max-width: 900px) {
    header {
        flex-direction: column;
        height: 100%;
        padding: 2rem 0;
    }  
}

li {
    font-size: 1.25rem;
    display: inline-block;
    padding: 0 0.3rem 0 0.3rem;
}

@media only screen and (max-width: 900px) {
    li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}

.name-container {
    margin-left: 2rem;   
}

@media only screen and (max-width: 900px) {
    .name-container {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
}

.name-container h1 {
    color: white;
}

.name-container h2 {
    font-weight: medium;
    color: black;
    font-family: 'Unica One';
}

li a {
    font-weight: medium;
    color: #FAF9F6;
    font-family: 'Mukta';
}

.nav-container {
    margin-right: 2rem;
}

.resume {
    background-color: #494949;
    color: #FAF9F6;
    padding: 0.9rem;
    border: 2px solid white;
    border-radius: 10px; 
}

.resume:hover {
    cursor: pointer;
}

.resume:active {
    background-color: white;
    color:#008080;
}

/**Main**/

.about-section {
    height: 85vh;
}
.about-content-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.about-content-container img {
    width: 50%;
    height: auto;
    border-radius: 1rem;
    border: 0.5rem solid #494949;
    box-shadow: 10px 15px #008080;
}

.text-container {
    margin-right: 2rem;
}

@media only screen and (max-width: 900px) {

    .about-section {
        height: 100vh;
    }
    .about-content-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-content-container img {
        width: 100%;
        margin: 1rem;

    }

    .text-container {
        margin: 2rem 0;

    }

}

.skills-section {
    margin: 5vh 0;
}

.skills-container {
    display: flex;
    justify-content: center;  
}

.skill-item {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.skill-icon {
    width: 5rem;
}

@media only screen and (max-width: 900px) {
    .skills-container {
        flex-wrap: wrap;
    }

}

.project-section {
    margin: 5vh 0;
    
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
}

.project-item {
    background-color: white;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;  
}

@media only screen and (max-width: 1375px) {

    .projects-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    .project-item {
        width: 100%;
        margin-top: 3rem;
    }
}



.project-img {
   width: 100%;
   height: auto;
   opacity: 1; 
}

.button-overlay {
    width: 50%;
    position: absolute;   
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;  
    
}

.button-overlay .btn {
    width: 25%;
    margin: 0.3rem;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-family: 'Mukta';
    color:#FAF9F6;
    background: #008080;
    text-align: center;
    box-shadow: 2px 3px #494949;

}

.button-overlay .btn:hover {
    cursor: pointer;
}

.button-overlay .btn:active {
    box-shadow: 0 0;
}

.project-description {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    
}

.project-description h4 {
    margin-top: 1rem;
}

.project-description p {
    font-family: 'Unica One';
    font-size: 1rem;
}



.project-item:hover .project-img {
    opacity: 0.15;
}

.project-item:hover .button-overlay {
    opacity: 1;
    box-shadow: 5px 10px #494949;
}

.contact-section {
    margin: 5vh 0;
}

.contact-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .contact-container {
        flex-wrap: wrap;
    }

}

.contact-item {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.contact-item:hover {
    border-bottom: 5px solid #008080;
}

.contact-item img {
    width: 60px;
}

/**Footer**/
footer {
    height: 10vh; 
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #494949;
}

footer p {
    font-size: 0.8rem;
}
